html,
body,
#root {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: $font-family;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

@include mq-tab {
  html {
    font-size: 18px;
  }
}
