@import '../styles/mixin.scss';

.wrapper {
  width: 100%;
}

.chart-wrapper {
  position: relative;
  width: calc(100% - 2rem);
  max-width: 420px;
  margin: 0 auto;
  background-color: #fff;
}

.chart-inner {
  width: 100%;
  padding-top: 100%;
}

.chart-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@include mq-tab {
  .chart-wrapper {
    width: 600px;
    max-width: none;
  }

  .chart-inner {
    padding-top: 450px;
  }
}
