html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
}

#root {
  &::before {
    content: 'visible: <= 768px';
  }

  svg {
    display: none;
  }
}

@include mq-tab {
  html {
    font-size: 18px;
  }

  #root {
    &::before {
      display: none;
    }

    svg {
      display: block;
    }
  }
}
